body {
	font-family: sans-serif;
	background-color: #fff;
}
h1 {
	text-align: center;
	font-size: 24px;
}
form {
	margin: 0 auto;
	width: 300px;
	padding: 20px;
	border: 1px solid #ccc;
}
input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
}
input[type="submit"] {
	background-color: #000;
	color: #fff;
	border: none;
	cursor: pointer;
}
